#result_text {
    border: solid;
    border-width:1px;
    border-radius: 5px;
    border-color: black;
}

#user_code{ 
    font-size: 32px; 
}

.contact_us_button_attention {
    border: 2px solid #2f6aa1;
    border-radius: 6px;
}


.contact_us_scrolled_window {
    border: 2px solid #2f6aa1;
    border-radius: 6px;
}

.contact_us_message_text {
    padding: 3px;
}